html, body{
    font-family: 'Open Sans';
    line-height: 25px;
    margin: 0px;
    padding: 0px;
}

p, b{
    font-size: 15px;
    letter-spacing: 0.2px;
    
}

h1, h2{
    font-size: 35px;
    text-align: center;
}

/*------------------ HEADER ------------------*/

#top-header{
    background: grey;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid red;
}

#top-header p{
    font-size: 14px;
    letter-spacing: 0.2px;
}

.max-width{
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.top-header-logo{
    display: inline-block;
}

/* img{
    float: left;
} */

.img-logo{
    max-width: 15%;
    padding-top: 15px;
    float: left; 
}

.logo-pais, img{
    max-width: 2%;
    padding-left: 10px;
}

.top-nav{
    padding-top: 15px;
    background: red;
    text-align: center;
}

.top-nav ul{
    list-style: none;
}

.top-nav a {
    color: black;
    text-decoration: none;
    padding: 0.7em;
    display: block;
    
}

.menu-section {
    margin: auto;
}

 .top-nav li :hover{
    color: white;
    transition: 0.3s ease-in-out;
}

/*------------------ ARTICLE ------------------*/

#section-article{
    padding-top: 80px;
    padding-bottom: 20px;
    background: rgba(218, 211, 211, 0.267);
}

.article-content p{
    text-align: justify;
    color: rgb(139, 139, 139);
    margin-left: 20px;
    margin-right: 20px;
}

/*------------------ SOLUTION ------------------*/

#solution-content{
    padding: 25px;
}

#solution-content, p{ 
    color: rgb(139, 139, 139);
    
}

.section-solution-title p{
    margin-left: 20px;
    margin-right: 20px;
}

.container{
    text-align: justify;
}

/*------------------ SERVICES ------------------*/

.container{
    padding-bottom: 30px;
}

.container-service {
    display: inline-block;
}

.container-service p {
    display: table-footer-group;
}

.solution-content{
    padding-top: 30px;
}
.service-area{
    padding-bottom: 10px;
    text-align: justify;
}
.media{
    padding-left: 50px;
}

.media-body{
    padding-right: 50px;
}

.services-icons{
    color: red;
    float: left;
    padding-right: 20px;
    font-size: 40px;
 
}

.service-area h3{
    font-weight: 600;
    font-size: 20px;
}

/*------------------ CLIENT ------------------*/

.client-section{
    background: rgba(218, 211, 211, 0.267);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.client-content{
    display: inline-block;
}

.client-body .col-1_2{
    border: 0.1px solid red;
    box-shadow: 0.3px 3px 20px rgba(7, 7, 7, 0.555);
    border-radius: 25px;
    margin-top: 20px;
}


.client-body h3{
    text-align: center;
    font-size: 30px;

}

.client-body h4{
    color: black;
    padding-right: 15px;
    float: right;
}

.client-body p{
    color: black;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    letter-spacing: 0.4px;
    text-align: justify;
    
}

.image-content{
   display: block; 
}

.img-client{
    border-radius: 75%;
    max-width: 70px;
    margin-right: 50px;
    float: right;
}

.client-information p{
    color: black;

}

/*------------------ CONTACT ------------------*/

.contact-title{
    padding-top: 20px;
}

.contact-container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 60px;
} 

.contact-content{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.contact-icon{
    color: red;
    font-size: 60px;
}

.contact-icon span{
    margin-left: 10px;
}

.contact-icon span{
    color: black;
    font-size: 20px;
    font-family: 'Open Sans';
}

/*------------------ FOOTER ------------------*/

.main-footer{
    background: rgba(218, 211, 211, 0.267);
}

.main-footer p{
    color: black;
}

.body-footer{
    display: inline-block;
}

.icons-footer{
    font-size: 30px;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 30px;
    display: inline-flex;
}

.icons-footer i {
    padding-right: 10px;
    padding-top: 10px;
}

.copyright-content{
    background: rgb(209, 0, 0);
    padding: 1px;
}

.copyright-content p{
    color: white;
    text-align: center;
}
.copyright-content a{
    text-decoration: none;
    color:white
}


@media screen and (min-width:75.7em) {

    .top-nav{
        background: transparent;
        float: right; 
       /*  margin-top: 25px; */
        border-style: none;
    }
    .top-nav li{
        display: inline-block;
        
    }
    .top-nav li :hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
   .top-header-logo{
       display: inline;
   }
   /* .top-header-align{
       padding-left:40%;
} */

   .col-1_2{
       width: 47%;
       margin: 1%;
       float: left;
   }

   .client-body .col-1_2{
       border-radius: 25px;
   }
}

