html, body{
    font-family: 'Open Sans';
    line-height: 25px;
    margin: 0px;
    padding: 0px;
}

p, b{
    font-size: 15px;
    letter-spacing: 0.2px;
    
}

h1, h2{
    font-size: 35px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/*------------------ MAIN ARTICLE ------------------*/

.background-section{
    background: rgba(218, 211, 211, 0.267);
    margin-top: 10px;
}

/* DASHBOARD */
.img-content{
    display: inline-block;
}

.img-dashboard{
    width: 200px;
    margin-left: 80px;
    float: left;
}

.title-dashboard{
    text-align: center;
    font-size: 30px;
    padding-top: 85px;
}
.title-dashboard p{
    padding-top: 20px;
    margin-right: 25px;
    text-align: justify;
    margin-left: 25px;
}

/* COMANDAS */

.img-comandas{
    width: 200px;
    margin-right: 80px;
    float: right;
}

.title-comandas{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
.title-comandas p{
    padding-top: 20px;
    margin-left: 25px;
    text-align: justify;
    margin-right: 25px;
}

/* SISTEMA */

.img-sistema{
    width: 300px;
    margin-left: 37px;
    padding-top: 25px;
    float: left;
    margin-bottom: 25px;
}

.title-sistema{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}
.title-sistema p{
    padding-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

/* PDV */

.img-pdv{
    width: 300px;
    margin-left: 37px;
    padding-top: 25px;
    float: left;
    margin-bottom: 25px;
}

.title-pdv{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
.title-pdv p{
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;    
}

/*------------------ FOOTER ------------------*/
.main-footer{
    margin-top: 25px;
    background: rgba(218, 211, 211, 0.267);
}

.main-footer p{
    color: black;
}

.body-footer{
    display: inline-block;
}

.icons-footer{
    font-size: 30px;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 30px;
    display: inline-flex;
}

.icons-footer i {
    padding-right: 10px;
    padding-top: 10px;
}

.copyright-content{
    background: rgb(209, 0, 0);
    padding: 1px;
}

.copyright-content p{
    color: black;
    text-align: center;
}
.copyright-content a{
    text-decoration: none;
    color:white
}


@media screen and (min-width: 400px) {

    /*------------------ MAIN ARTICLE ------------------*/

    .background-section{
        background: rgba(218, 211, 211, 0.267);
        margin-top: 10px;
    }

    /* DASHBOARD */

    .img-content{
        display: inline-block;
    }

    .img-dashboard{
        width: 200px;
        margin-left: 100px;
        float: left;
    }

    .title-dashboard{
        padding-top: 75px;  
        text-align: center;
        font-size: 25px;
    }
    .title-dashboard p{
        padding-top: 20px;
        margin-right: 100px;
        text-align: justify;
    }

    /* COMANDAS */

    .img-comandas{
        width: 200px;
        margin-right: 100px;
        float: right;
    }

    .title-comandas{
        padding-top: 25px;
        text-align: center;
        font-size: 25px;
    }
    .title-comandas p{
        padding-top: 20px;
        margin-left: 100px;
        margin-right: 0px;
        text-align: justify;
    }

    /* SISTEMA */

    .img-sistema{
        width: 350px;
        margin-left: 100px;
        padding-top: 70px;
        float: left;
    }

    .title-sistema{
        padding-top: 50px;
        text-align: center;
        font-size: 25px;
    }
    .title-sistema p{
        padding-top: 30px;
        margin-left: 470px;
        margin-right: 100px;
        text-align: justify;
    }

    /* PDV */

    .img-pdv{
        width: 350px;
        margin-right: 100px;
        padding-top: 110px;
        float: right;
    }

    .title-pdv{
        padding-top: 20px;
        text-align: center;
        font-size: 25px;
    }
    .title-pdv p{
        padding-top: 20px;
        margin-left: 100px;
        margin-right: 470px;
        text-align: justify;    
    }

    /* COLUNAS */

   .col-1_2{
       width: 47%;
       margin: 1%;
       float: left;
   }

   .client-body .col-1_2{
       border-radius: 25px;
   }
}
