html{
    font-family: 'Open Sans';
    line-height: 25px;
    
}

p, b{
    font-size: 16px;
    letter-spacing: 0.2px;
    
}

h1, h2{
    font-size: 35px;
    text-align: center;
}


#top-header{
    display: block;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
}

.max-width{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.top-header-logo{
    display: inline-block;
    
}

img{
    float: left;
}


.img-logo{
    max-width: auto;
    padding-top: 10px; 
}

.top-nav{
    background: red;
    text-align: center;
}

.top-nav ul{
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.top-nav a {
    color: black;
    text-decoration: none;
    padding: 0.7em;
    display: block;
    
}

 .top-nav li :hover{
    color: white;
    transition: 0.3s ease-in-out;
}

#section-article{
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid red;

}

#section-article p{
    color: rgb(139, 139, 139);
}


#solution-content{
    padding: 25px;
    border-bottom: 1px solid red;
}

#solution-content p{ 
    color: rgb(139, 139, 139);
    
}

.container{
    padding-bottom: 30px;
}

.solution-content{
    padding-top: 40px;
}
.service-area{
    padding-bottom: 20px;
}

.services-icons{
    color: red;
    float: left;
    padding: 0;
    margin: 0, 30px, 0, 0;
    font-size: 40px;
 
}
.services-icons i{
    transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
}

.service-area h3{
    font-weight: 600;
    font-size: 20px;
}
.client-body h3{
    text-align: center;
    font-size: 30px;

}

.client-body{
    display: inline-block;
}

.client-body p{
    padding-top: 20px;
    letter-spacing: 0.3px;
}

.image-content{
   display: block; 
}

.img-client{
    border-radius: 100%;
    max-width: 70px;
    float: left;
}

.main-footer{
    display: block;
    background: red;
}

@media screen and (min-width: 70.7em) {


    .top-nav{
        background: transparent;
        float: right;
        margin-top: 25px;
        border-style: none;
    }
    .top-nav li{
        display: inline-block;
    }
    .top-nav li :hover{
        color: red;
        transition: 0.3s ease-in-out;
    }

   .top-header-logo{
       box-sizing: content-box;
       display: inline;
       float: none;
       position: static;
       z-index: auto;
   }

   .col-1_2{
       width: 45%;
       margin: 1%;
       float: left;
   }
   
}

