html, body{
    font-family: 'Open Sans';
    line-height: 25px;
    margin: 0px;
    padding: 0px;
}

p, b{
    font-size: 15px;
    letter-spacing: 0.2px;
    
}

h1, h2{
    font-size: 35px;
    text-align: center;
}

#top-header{
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#top-header p{
    font-size: 14px;
    letter-spacing: 0.2px;
}

.information-top{
    background: rgb(209, 0, 0);
    top: 0;
}

.max-width{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.whats-icon{
    position: fixed;
    top: 550px;
    left: 0px;
}

.img-whats{
    width: 13%;
}

/*------------------ HEADER ------------------*/

.topnav{
    margin-top: 40px;
}
.topnav img{
    max-width: 20%;
}


.logo-pais img{
    padding-top: 4px;
    max-width: 3%;
    margin-right: 13px;
}

.icon{
    display: none;
}

#myLinks{
    float: right;
    margin-top: 30px;
    letter-spacing: 0.3px;
}

#myLinks a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-weight: bold;
}

#myLinks a:hover{
    color: red;
    transition: 0.3s ease-in-out;
}

.icons-header{
    color: blue;
    font-size: 20px;
    text-align:right;
    margin-right: 45px;
    text-decoration: none;
    
}

.icons-header a{
    color: white;
}

/*------------------ Carousel ------------------*/


.carousel-section{
    margin-top: 130px;
    margin-bottom: 20px;
}

.carousel-img{
    width: 375px;
    height: 300px;
}

/*------------------ ARTICLE ------------------*/

#section-article{
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(218, 211, 211, 0.267);
}

/*.article-content{
    margin-top: 130px;
}*/

.article-content p{
    text-align: justify;
    color: rgb(139, 139, 139);
    margin-left: 20px;
    margin-right: 20px;
}

/*------------------ SOLUTION ------------------*/

#solution-content, p{ 
    color: rgb(139, 139, 139);
    
}

.section-solution-title p{
    margin-left: 20px;
    margin-right: 20px;
}

.container{
    text-align: justify;
}

/*------------------ SERVICES ------------------*/

.container{
    padding-bottom: 30px;
}

.container-service {
    display: inline-block;
}

.container-service p {
    display: table-footer-group;
}

.solution-content{
    padding-top: 10px;
}
.service-area{
    padding-bottom: 10px;
    text-align: justify;
}
/* .media{ espaçamento das letras dos ícones
    padding-left: 50px; 
} */

/* .media-body{ espaçamento das letras dos ícones
    padding-right: 30px;
}  */

.services-icons{
    color: red;
    float: left;
    padding-right: 20px;
    font-size: 40px;
}

.service-area h3{
    font-weight: 600;
    font-size: 20px;
}

.client-body .col-1_2{
   border-radius: 25px;
}

/*------------------ CLIENT ------------------*/

.client-section{
    background: rgba(218, 211, 211, 0.267);
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.client-section h3{
    text-align: center;
    font-size: 35px;
}



img {vertical-align: middle;}

/*Slideshow container*/
.slideshow-container{
    margin: auto;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*The Dots/bullets indicators*/

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(236, 119, 119);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover, .dot:focus {
    background: red;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

/*------------------ CONTACT ------------------*/

.contact-title{
    padding-top: 20px;
}

.contact-container{
    /* display: flex; */
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 15px;
} 

.contact-content{
    display: inline-block;
    margin-right: 30px;
    margin-left: auto;
    padding-top: 25px;
}

.contact-icon{
    color: red;
    font-size: 60px;
}

.contact-icon span{
    margin-left: 10px;
}

.contact-icon span{
    color: black;
    font-size: 15px;
    font-family: 'Open Sans';
}

/*------------------ FOOTER ------------------*/

.main-footer{
    background: rgba(218, 211, 211, 0.267);
}

.main-footer p{
    color: black;
}

.information-footer {
    text-align: center;
    margin-bottom: 50px;
}

.body-footer{
    display: inline-block;
}

.icons-footer{
    font-size: 30px;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 30px;
    /* display: inline-flex; */
}

.icons-footer i {
    padding-right: 10px;
    padding-top: 10px;
}

.icons-footer a{
    color: red;
}

.adress-information {
    text-align: left;
}

.copyright-content{
    background: rgb(209, 0, 0);
    padding: 1px;
}

.copyright-content p{
    color: white;
    text-align: center;
}


@media screen and (min-width: 970px) {

    .logo-pais img{
        padding-top: 3px;
        max-width: 2.3%;
        margin-right: 13px;
    }
    
    .icons-header{
        color: white;
        font-size: 20px;
        text-align:right;
        text-decoration: none;
        margin-right: 50px;
    }

    .topnav{
        position: fixed;
        right: 0;
        top: 0%;
        width: 100%;
        margin-top: 25px;
        background: white;
        border-bottom: 1px solid red;
        z-index: 1;
      }

    #section-article {
        padding-top: 20px;
        padding-bottom: 20px;
        background: rgba(218, 211, 211, 0.267);
    }

    .top-nav{
        background: transparent;
        float: right;
        margin-top: 5px;
        border-style: none;
    }
    .top-nav li{
        display: inline-block;
        
    }
    .top-nav li :hover{
        color: red;
        transition: 0.3s ease-in-out;
    }

   .top-header-logo{
       display: inline;
   }

   #myLinks {
    float: right;
    margin-top: 20px;
    letter-spacing: 0.3px;
}

   .col-1_2{
        width: 30%;
        margin: 1% 1% 0 1%;
        float: left;
   }

   
.carousel-section{
    margin-top: 110px;
    margin-bottom: 20px;
}

.carousel-img{
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

   /*------------------ CONTACT ------------------*/

.contact-title{
    padding-top: 20px;
}

.contact-container{
    /* display: flex; */
    padding-top: 30px;
    padding-bottom: 120px;
    margin-left: 110px;
} 

.contact-content{
    display: inline-block;
    margin-right: 30px;
    margin-left: auto;
    padding-top: 0px;
}

.contact-icon{
    color: red;
    font-size: 60px;
}

.contact-icon span{
    margin-left: 10px;
}

.contact-icon span{
    color: black;
    font-size: 20px;
    font-family: 'Open Sans';
}

.contact-container .col-1_2{
    width: 25%;
    margin: 1% 1% 0 1%;
    float: left;
}

.client-body .col-1_2{
   border-radius: 25px;
}

/*------------------ FOOTER ------------------*/

    .main-footer{
        background: rgba(218, 211, 211, 0.267);
    }

    .main-footer p{
        color: black;
    }

    .information-footer {
        text-align: center;
        margin-bottom: 50px;
    }

    .body-footer{
        display: inline-block;
    }

    .icons-footer{
        font-size: 30px;
        font-size: 30px;
        padding-left: 50px;
        padding-top: 30px;
        display: inline-flex;
    }

    .icons-footer i {
        padding-right: 10px;
        padding-top: 10px;
    }

    .icons-footer a{
        color: red;
    }

    .adress-information {
        text-align: left;
    }

    .copyright-content{
        background: rgb(209, 0, 0);
        padding: 1px;
    }

    .copyright-content p{
        color: white;
        text-align: center;
    }
}

@media screen and (max-width: 1024px){

    .mobile-container {
        max-width: 380px;
        margin: auto;
        color: white;
        border-radius: 10px;
      }
    
    .topnav{
        overflow: hidden;
        background-color: white;
        position: relative;
    }
    
    .topnav #myLinks{
        display: none;
    }
    
    .topnav a{
        color: red;
        padding:14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .topnav a.icon{
        background: block;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #myLinks{
        float: right;
        margin-top: 25px;
        letter-spacing: 0.3px;
    }
    
    
    #myLinks a{
        text-decoration: none;
        color: black;
        margin-right: 130px;
        font-weight: bold;
    }
    
    #myLinks a:hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
    /*.active{
        max-width: 40%;
        padding-top: 13px; 
        background-color: red;
        color: red;
    } */

    .carousel-section{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .carousel-img{
        width: 760px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .active img{
        max-width: 95%;
    }

    .maps{
        display: none;
    }

}

@media screen and (max-width: 414px){

    /*-----------------HEADER MOBILE-----------------*/

    
    .whats-icon{
        position: fixed;
        top: 500px;
        left: 0px;
    }
    
    .whats-img{
        width: 10%;
    }

    .img-logo{
        max-width: 17%;
        padding-top: 5px;
        float: left; 
    }


    .logo-pais img {
        padding-top: 4px;
        max-width: 7%;
        margin-right: 13px;
    }

    .mobile-container {
        max-width: 480px;
        margin: auto;
        color: white;
        border-radius: 10px;
      }
    
    .topnav{
        overflow: hidden;
        background-color: white;
        position: relative;
    }

    .topnav {
        position: fixed;
        right: 0;
        top: 0%;
        width: 100%;
        margin-top: 26px;
        background: white;
        border-bottom: 1px solid red;
    }
    
    .topnav #myLinks{
        display: none;
    }
    
    .topnav a{
        color: red;
        padding:14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .topnav a.icon{
        background: block;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #myLinks{
        float: right;
        margin-top: 25px;
        letter-spacing: 0.3px;
    }
    
    #myLinks a{
        text-decoration: none;
        color: black;
        margin-right: 130px;
        font-weight: bold;
    }
    
    #myLinks a:hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
    /*.active{
        max-width: 40%;
        padding-top: 13px; 
        background-color: red;
        color: red;
    } */
/*-----------------SLIDE MOBILE-----------------*/
    .carousel-section{
        margin-top: 150px;
        margin-bottom: 20px;
    }
    
    .carousel-img{
        width: 360px;
        height: 300px;
        transition: opacity .5s ease-in;
    
    }
/*-----------------CLIENT MOBILE-----------------*/

.article-content {
    margin-top: 0px;
}

    .client-section h3{
        font-size: 30px;
    }

    .client-content{
        margin: 0;
    }
    iframe {
        width: 250px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
/*-----------------FOOTER MOBILE-----------------*/

    .active img{
        max-width: 95%;
    }
    .maps{
        display: none;
    }
}
